.star-card {
    color: #aba8a8;
}

.card {
    overflow: hidden;
}

.title {
    border-top: 1px solid #cecece;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}