.star-custom {
    height: 40px;
    width: 90px;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    cursor: pointer;
}

.star {
    display: flex;
    justify-content: flex-end;
}